<html>
	<head>
		<title>Purple People Eaters</title>
		<script>
		const errors = <%- JSON.stringify(locals.errors || null) %>;
		if (errors) {
		  Object.keys(errors).forEach(error => {
		    const el = document.getElementById(error + "-error");
		    if (el) {
		      el.innerText = errors[error];
		    }
		  })
		}
		</script>
	</head>
	<body>
		<h1>Add person</h1>
		<form method="POST">
			<label for="name">Name</label>
			<input type="text" name="name" value="<%= person.name %>">
			<span id="name-error" class="error text-red-500"></span>
			<label for="age">Age</label>
			<input type="text" name="age"  value="<%= person.age %>">
			<span id="age-error" class="error text-red-500"></span>
			<button type="submit">Add</button>
		</form>
	</body>
</html>
